<mat-toolbar class="black">
  <span>
    <a routerLink="/">
      <img src="../../assets/img/logo.jpg" class="angular-logo" />
      Angular NavBar
    </a>
  </span>

  <div class="col-md-4"></div>
  <div class="col-md-4">
    <form [formGroup]="isLoggedIn">
      <span class="fill-remaining-space"></span>
      <button mat-button>Menu Option 02</button>

      <span *ngIf="!isLogged">
        <button mat-button routerLink="login">Login</button>
        <button mat-button routerLink="register">Register</button>
      </span>

      <span *ngIf="isLogged">
        <span class="logout">
          <a routerLink="/article/create" routerLinkActive="active">Create article</a>
          <!-- <a routerLink="/dashboard" routerLinkActive="active">Create article</a> -->

          <!-- <button mat-button (click)="onLogout()" class="logged">Logout</button> -->
        </span>
        <a routerLink="user"
          ><img src="../../assets//img/icon.png" class="icon"
        /></a>
      </span>
    </form>
  </div>

</mat-toolbar>

