<mat-toolbar class="black">
  <span>
    <a routerLink="/">
      <img src="../../assets/img/logo.jpg" class="angular-logo" />
      Angular NavBar
    </a>
  </span>

  <div class="col-md-4"></div>
  <div class="col-md-4">
    <form [formGroup]="isLoggedIn">
      <span class="fill-remaining-space"></span>
      <button mat-button>Menu Option 01</button>
      <button mat-button>Menu Option 02</button>

      <!-- <span class="auth"> -->
      <span *ngIf="!isLogged">
        <button mat-button routerLink="login">Login</button>
        <button mat-button routerLink="register">Register</button>
      </span>

      <span *ngIf="isLogged">
        <span class="logout">
          <button mat-button (click)="onLogout()" class="logged">Logout</button>
        </span>
        <a routerLink="/login"
          ><img src="../../assets//img/icon.png" class="icon"
        /></a>
      </span>
      <!-- </span> -->
    </form>
  </div>
</mat-toolbar>
