<div>
<form [formGroup]="isLoggedUser">
  <div class="page-header">
    <input id="menu-toggle-input" type="checkbox" />
    <label class="menu-toggle" for="menu-toggle-input">
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
    </label>

    <nav class="menu">
      <ol>
        <li class="menu-item"><a routerLink="/dashboard">Home</a></li>
        <li class="menu-item"><a routerLink="/user">About</a></li>
        <li class="menu-item">
          <a routerLink="/list">Travel</a>
          <ol class="sub-menu">
            <li class="menu-item"><a>Adventure</a></li>
            <li class="menu-item"><a href="#0">Landscapes</a></li>
            <li class="menu-item"><a href="#0">Relax zones</a></li>
          </ol>
        </li>
        <li class="menu-item">
          <a href="#0">Food</a>
          <ol class="sub-menu">
            <li class="menu-item"><a href="#0">Fast food</a></li>
            <li class="menu-item"><a href="#0">Home made</a></li>
            <li class="menu-item"><a href="#0">Restaurant</a></li>
          </ol>
        </li>
        <li class="menu-item"><a routerLink="/article/create">Create</a></li>
      </ol>
    </nav>
  </div>

  <section class="page-content">
    <h1 class="page-title">Share and recommend something you've liked!</h1>
    <p>
      Experience from the experience!
    </p>
  </section>
</form>
</div>
