<div *ngIf="selectedArticle">
  <div class="row">
    <div class="col-xs-12">
      <h1 class="text-center">{{ selectedArticle.title }}</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <img
        [src]="selectedArticle.imageUrl"
        alt=""
        class="img-responsive img-details"
      />
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="col-xs-12 article-description">
      {{ selectedArticle.description }}
    </div>
  </div>

  <hr />
</div>
