<div class="jumbotron">
  <mat-card class="example-card" *ngIf="article$ | async as article">
    <div>
      <h1>{{ article.title }}</h1>
      <img mat-card-image [src]="article.imageUrl" />
      <p>{{ article.description }}</p>
    </div>
  </mat-card>
  <mat-card class="example-card" *ngIf="articleFood | async as article">
    <div>
      <h1>{{ article.title }}</h1>
      <img mat-card-image [src]="article.imageUrl" />
      <p>{{ article.description }}</p>
    </div>
  </mat-card>
</div>
